.rf-navbar {
  background-color: #2F3BA1;
  color: #9D9D9D;
  border-bottom: 2px solid #181E80;
  margin-bottom: 0;

  .navbar-nav {
    .active {
      a, a:hover, a:focus {
        background-color: #181E80;
        color: white;
      }
    }

    li > a:hover,li > a:focus {
      color: white;
      background-color: transparent;
    }
  }
}
